.container{
    /* background: red; */
     padding: 10rem;
 }
 .row
 {
     width: 90rem;
     height: 30rem;
     margin-left: -15rem;
     /* background: blue; */
    
 }
 .card-header{
     color: black;
     font-size: 30px;
     font-family: Jaldi; 
     font-weight: bold; 
 }
 .btn-submit
 {
     margin-top: 2rem;
     margin-right: 1rem;
     
     color: black;
 
 }
 .form-control{
     min-height: 2.5rem;
     min-width:30rem;
 }
 .form-label,.list-group-item{
     color: #425FBA;
     font-size: 34px;
     font-family: Jaldi;
 }
 @font-face {
     font-family: Jaldi;
     src: url(/public/Jaldi-Regular.ttf);
 }
 .hh{
     gap: 3rem;
 }