.rentpage-wrapper{
    padding-top: 10rem;
    color: black;
    font-size: larger;
    font-family:Inter;
  
}
@font-face {
    font-family: Inter;
    src: url(/public/Inter-VariableFont_slnt,wght.ttf);
}
@font-face {
    font-family: GoblinOne;
    src: url(/public/GoblinOne-Regular.ttf);
}
.getwrapper{
    padding: 7rem;
    background: rgba(170, 178, 182, 0.719);
    /* filter: blur(20px); */
  
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    


}
.rentMeButton{
    align-items: center;
    margin-left: 35rem;
}
h2{
    color: black;
    text-align: center;
    font-family: Goblin;
    background: transparent;
}
.confirmBtn{
    margin-left: 15rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-top: 4rem;
}
.rentPageBox{
    background: #d9d9d9;
    padding: 4rem;
    margin-left: 33rem;
    width: 40rem;
    height: 30rem;
    border-radius: 5rem;
    align-items: center;
    justify-content: center;
}
.getcontainer{
  border-radius: 12rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 35rem;
  width: 50rem;
    padding: 4rem;
    background: #d9d9d9;
    position: absolute;
    left: 30rem;
    top: 15rem;
    /* top: 25%;
    right: 25%; */
}