.user-container{
    display: flex;
    flex: 1;
    /* background: blue; */
    /* width: 5rem; */
    /* margin-left: 10rem; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    
}

.user-card-container{display: none;}
/* .table-wrapper {
    max-width: 100%;}
.table{
   
    width: 100%;
    border-collapse: collapse;
    
}
th,
td {
  padding: 12px;
  text-align: left;
}
.py-4{
   
    overflow-x: auto;
} */

.py-4{
   
    margin-left: 5rem;
    /* margin-bottom: 5rem; */
    /* background: red; */
    width: 80rem;
}
.create-filteruser-name{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    padding-top: 1.5rem;
}
.txt-header{
    margin-left: -6rem;
    color: #425FBA;
}
.txt{
    display: flex;
    flex-direction: column;
    margin-left: -6rem;
    font-size: 20px;
    color: #425FBA;  
}
.username-filter-txt{
    font-size: 25px;
    font-weight: bold;
    font-family: Jaldi;
}

.filter-username{
    display: flex;
    gap: 1rem;
    margin-left: 20rem;
    align-items: center;
    justify-content: center;
}
.radio_buttons{
    display: flex;
    flex-direction: column;
    margin-left: -5rem;
}
.user-nav{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    
   
    width: 100%;

}
.user-main{
    
    width: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    padding: 1.5rem;
}
.active-status{
    color: blue;
}
.main-top{
    /* background: transparent; */
    /* width:970px; */
    /* background: green; */
    width: 80rem;
    height: 400px;
    padding-left: 4rem;
    z-index: 999;
    /* border-radius: 13px; */
}
@font-face {
    font-family: Inter;
    src: url(/public/Inter-VariableFont_slnt,wght.ttf);
}

.main-top h3{
    font-family: Inter;
    font-size:40px;
    font-weight: bolder;
    text-align: center;
}
.main-head{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding-left: 5rem;
}
.main-head>:nth-child(1){
    font-size: 36px;
    font-weight: bold;
    margin-right: 3rem;
}
.create-subAdmin{
    width: 110px;
   
    color: white;
    font-size: 21px;
    font-weight: bold;
    font-family: Inter;
    text-align: center;
    padding: 0.2rem 0.2rem  0.2rem 1rem ;
    border-radius: 6px;
    border: 1px solid transparent;
    background: #425FBA;
    text-decoration: none;
}
.create-subAdmin:hover{
    scale: 1.02;
    transition: 500ms ease-in;
    background: transparent;
    cursor: pointer;
    color: black;  
    text-decoration: none;
}

ol{
   font-size: 32px;
   font-weight: light; 
   font-family: Inter;
   padding-left: 4rem;
}

.main-list span{
    display: flex;
   flex-direction: row;
   padding-left: 0.5rem;
   font-size: 30px;
   color: black;
   font-family: Inter;
   font-weight: light;
   /* text-align: center; */
   gap: 5rem;
   margin-bottom: 0.5rem;

}
.data{
    color: black;
    font-weight: 800;
    font-size:32px;
    font-family: Jaldi;
}
.btn{
    margin-top: -0.1rem;
   
}
th{
    font-size: x-large;
    text-decoration: none;
 
    font-weight: bold;
     
}

.action-button{
    max-width: 110px;
   
    color: white;
    font-size: 21px;
    font-weight: bold;
    font-family: Inter;
    text-align: center;
    padding: 0.2rem 1rem 0.2rem 1rem;
    border-radius: 6px;
    border: 1px solid transparent;
    background: #425FBA;
    text-decoration: none;
    margin-right: 2rem;
    /* background: #425FBA;
   color: white;
    margin-right: 2rem;
    padding: 0.8rem;
    border-radius: 1rem;
    text-decoration: none;
    font-family: Inter;
    font-weight: bold; */

}
.user-info{
    margin-bottom: 0;
  
}
.action-button:hover{
    background: transparent;
    color: black;
    scale: 1.02;
    transition: 500ms ease-in;
}
td{
    text-decoration: none;
    font-family: Inter;
    font-weight: bold;
    font-size: large;
}
.sub-admin-action-button-delete{
    color: white;
    width: 6rem;
    height: 2.4rem;
    background: red;
    text-align: center;
    margin-top: -2rem;
    margin-left: 15rem;
    padding: 0.2rem 0.2rem 1rem 1rem;
    border-radius: 6px;
    border: none;
    font-size: 21px;
    font-weight: bold;
    font-family: Inter;
    /* text-align: center; */
}
.action-button-delete:hover{
    background: transparent;
    color: black;
    scale: 1.02;
    transition: 500ms ease-in;
}
.loading {
    display: flex;
    font-size: xx-large;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
.detail-view-hide{
    margin-top: 1rem;
    border: 1px solid transparent;
    background: #425FBA;
    color: white;
    border-radius: 6px;
    font-size: 21px;
    font-weight: bold;
    font-family: Inter;
    text-align: center;   
}

.sub-container{
    padding: 0;
}
.header{
    font-size: 25px;
}
.main-bottom{
    margin-top: 21rem;
    /* margin-bottom: 65rem; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* gap: 0.5rem; */
    /* background: red; */
    background: #FFFFFF;
    /* border-radius: 13px; */
   
    /* padding: 3rem; */
    width: 640px;
    height: 270px;
    margin-left: 30rem;
}
.main-bottom h3{
    font-weight: light;
    text-align: center;
    margin-top: 0.2rem;
    /* padding: 0.3rem 0 1rem 4rem; */
    color: #001C30;
    font-size: 30px;
    font-family: Inter;
}
.main-bottom button{
    width: 425px;
height: 3rem;
    /* border-radius: 10px; */
    border: 1px solid gray;
    text-align: center;
    font-family: Inter;
    font-size: 25px;
    background: #C7CAF3;
    font-weight: bold;
    /* gap: 1rem; */
    color: rgb(43, 39, 39);
    padding: 0.3rem 0 1rem 4rem;
    margin-top: 1rem;
    margin-bottom: 0.1rem;
    
}.admin-icon{
    font-size: 1.3rem !important;
    color: rgb(104, 101, 145);
    /* margin-right: 0.5rem; */
   
    
}

.user-wrraper{
    position: relative;
   padding: 7rem;
    height: 100vh;

}

.getcontainer{
    width: 700px;
    /* padding: 7rem; */
    background: red;
    position: absolute;
    top: 25%;
    right: 25%;
}
.getwrapper{
    background: rgba(170, 178, 182, 0.719);
    /* filter: blur(20px); */
  
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    

}


/* @media all and (max-width:640px ){
   
    .main-top{
        max-width: 365px;
        max-height: 290px;
    }
    .main-top h3{
       
        font-size:20px;
        
    }
    .user-wrraper{
        position: relative;
       padding: 1rem;
        height: 100vh;
    
    }

    .main-head{
    
    margin-left: -4rem;
}
.main-head>:nth-child(1){
    font-size: 14px;
   
    margin-right: 1rem;
}
.main-head button{
    width: 50px;
   
    font-size: 11px;
    
}


ol{
   font-size: 14px;
   
   padding-left: 2rem;
}

.main-list span{
    display: flex;
   flex-direction: row;
   padding-left: 0.5rem;
   font-size: 13px;
  
   gap: 4;
  

}
.main-bottom{
  
    width: 258px;
    height: 200px;

}
.main-bottom h3{
    
    margin-top: -1rem;
    
    font-size: 15px;
  
}
.main-bottom button{
    width: 240px;

    
    font-size: 15px;
   
    
    
}.admin-icon{
    font-size: 1rem !important;
    color: rgb(104, 101, 145);
    
   
    
}
.user-wrraper{
    position: relative;
   padding: 7rem;
    height: 100vh;

}
} */
.sidebar {
    padding: 2rem;
    flex: 1;
    width: 7%;
    position: fixed;
    top: 1rem;
    height: 100%;
    border-right: 2px solid #e5e5e5;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  .active-page {
   
    align-items: center;
    justify-content: center;
    padding:0.3rem;
   
    width: max-content;
    border-radius: 45%;
    background:#425FBA;
    color: black;
    margin-left: 4rem;
    /* margin-left: 1rem;
    border-radius: 45%; */
  }
  .page-container{
    display: flex;
    flex-direction: row; 
/* background: red; */
margin-top: -4rem; }
  .pagenumber{
    align-items: center;
    justify-content: center;
    padding: 0.3rem;
    width: max-content;
    background-color: rgb(29, 26, 26);
    color: white;
    
    border-radius: 45%;
   
  }
  
  .logo-container {
    margin-bottom: 4rem;
  }
  
  .logo-container h1 {
    margin-top: 1.3rem;
  }
  .user-card{
    display: none;
  }
  @media (max-width: 640px) {
   
   
    .main-bottom{display: none;}
  
 .py-4{
display: none;
 }
 
.land-card-wrapper{
 
  margin-left: 16rem;
  margin-top: 2rem;
  
}
.land-card-container{

 margin-left: -14rem;
   /* border: 2px solid rgb(219, 206, 206); */
   /* padding: 20px; */
   cursor: pointer;

   background: white;
   border-radius: 1rem;
  max-height: 15rem;
   width: 20rem;

  
}
.s{
  display: none;
}
.user-card{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    gap: 0.1rem;
  margin-left: 1rem;
}
dl, ol, ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 1rem;
  gap: 3rem;
}
.action-button {
  max-width: 50px;
  color: white;
  font-size: 15px;
  font-weight: bold;
  font-family: Inter;
  text-align: center;
  padding: 0.2rem 1rem 0.2rem 1rem;
  border-radius: 6px;
  border: 1px solid transparent;
  background: #425FBA;
  text-decoration: none;
  
}
/* .action-button-delete {
  background: red;
  margin-right: 1rem;
  padding: 0.2rem 1rem 0.2rem 1rem;
  border-radius: 6px;
  font-size: 21px;
  font-weight: bold;
  font-family: Inter;
  text-align: center;
}

.action-button-delete {
  background: red;
  margin-right: 1rem;
  padding: 0.2rem 1rem 0.2rem 1rem;
  border-radius: 6px;
  font-size: 21px;
  font-weight: bold;
  font-family: Inter;
  text-align: center;
} */
.action-button-delete {
  background: red;
  margin-right: 1rem;
  padding: 0.2rem ;
  border-radius: 6px;
  font-size: 15px;
  font-weight: bold;
  font-family: Inter;
  text-align: center;
}

  }
  @media (min-width:640px) and (max-width:991px){
   
   
    .main-bottom{display: none;}
  
 .py-4{
display: none;
 }
 
.land-card-wrapper{
 
  margin-left: 16rem;
  margin-top: 2rem;
  
}
.land-card-container{

 margin-left: -14rem;
   /* border: 2px solid rgb(219, 206, 206); */
   /* padding: 20px; */
   cursor: pointer;

   background: white;
   border-radius: 1rem;
  max-height: 15rem;
   width: 20rem;

  
}
.s{
  display: none;
}
.user-card{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    gap: 0.1rem;
  margin-left: 1rem;
}
dl, ol, ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 1rem;
  gap: 3rem;
}
.action-button {
  max-width: 50px;
  color: white;
  font-size: 15px;
  font-weight: bold;
  font-family: Inter;
  text-align: center;
  padding: 0.2rem 1rem 0.2rem 1rem;
  border-radius: 6px;
  border: 1px solid transparent;
  background: #425FBA;
  text-decoration: none;
  
}
/* .action-button-delete {
  background: red;
  margin-right: 1rem;
  padding: 0.2rem 1rem 0.2rem 1rem;
  border-radius: 6px;
  font-size: 21px;
  font-weight: bold;
  font-family: Inter;
  text-align: center;
}

.action-button-delete {
  background: red;
  margin-right: 1rem;
  padding: 0.2rem 1rem 0.2rem 1rem;
  border-radius: 6px;
  font-size: 21px;
  font-weight: bold;
  font-family: Inter;
  text-align: center;
} */
.action-button-delete {
  background: red;
  margin-right: 1rem;
  padding: 0.2rem ;
  border-radius: 6px;
  font-size: 15px;
  font-weight: bold;
  font-family: Inter;
  text-align: center; 
  }
}
  /* @media (max-width: 640px) {
   
   
      .main-bottom{display: none;}
    
   .py-4{
display: none;
   }
   
.land-card-wrapper{
   
    margin-left: 16rem;
    margin-top: 2rem;
    
}
.land-card-container{
  
   margin-left: -14rem;
    
     cursor: pointer;

     background: white;
     border-radius: 1rem;
    max-height: 15rem;
     width: 20rem;
 
    
}
.s{
    display: none;
}
.user-card{
    margin-left: 11rem;
}
dl, ol, ul {
    list-style: none;
    margin-top: 0;
    margin-bottom: 1rem;
    gap: 3rem;
}
.action-button {
    max-width: 50px;
    color: white;
    font-size: 15px;
    font-weight: bold;
    font-family: Inter;
    text-align: center;
    padding: 0.2rem 1rem 0.2rem 1rem;
    border-radius: 6px;
    border: 1px solid transparent;
    background: #425FBA;
    text-decoration: none;
    
}


.action-button-delete {
    background: red;
    margin-right: 1rem;
    padding: 0.2rem 1rem 0.2rem 1rem;
    border-radius: 6px;
    font-size: 21px;
    font-weight: bold;
    font-family: Inter;
    text-align: center;
}


    } */