/* body {
    background-color: #F0F4F3;
}

.header {
    color: rgb(4, 4, 32);
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.box {
    background-color: #fff;
    padding: 20px;
}

.smaller-box {
    width: 400px;
    height: 300px;
    margin: 5px;
}

.box1 {
    grid-column: 1 / 2;
    width: 509px;
    height: 400px;
    flex-shrink: 0;
    border-radius: 15px;
    background: #FFF;
}

.box2 {
    grid-column: 2 / 3;
    border-radius: 15px;
    background: #FFF;
    width: 325px;
    height: 200px;
    flex-shrink: 0;
    margin-left: -90px;
}

.form-group {
    align-items: center;
    margin-bottom: 10px;
}

label {
    display: inline-block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
input[type="date"],
input[type="file"] {
    width: 250px;
    height: 20px;
    flex-shrink: 0;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background: #D9D9D9;
}

button[type="submit"] {
    padding: 8px 16px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

.selected-image {
    max-width: 100%;
    max-height: 200px;
    object-fit: contain;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.footer-content {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.contact-item {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.footer-icon {
    margin-right: 5px;
    color: rgb(6, 6, 37);
}

.footer1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    color: rgb(1, 1, 22);
}

#gg {
    display: flex;
    flex-direction: column;
    margin-left: 40%;
}

.gg a {
    margin-top: 10px;
}

.gg a {
    text-decoration: none;
    font-size: 20px;
    color: #001C30;
}

.vertical {
    border-left: 4px solid #425FBA;
    height: 100px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px;
} */